name: Publish to npm

on:
  push:
    tags:
      - 'v*'  # v1.0.0 형태의 태그

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4



      # pnpm 먼저 설치
      - uses: pnpm/action-setup@v2
        with:
          version: 9.15.0
      
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
          registry-url: 'https://registry.npmjs.org'
      
      - name: Update npm
        run: npm install -g npm@latest
      - run: pnpm install
      - run: pnpm test
      - run: pnpm publish --access public --no-git-checks --provenance
      